:root {
  --slate-100: #e2e8f0;
  --slate-200: #cad5e2;
  --slate-300: #90a1b9;
  --slate-400: #62748e;
  --slate-500: #45556c;
  --slate-600: #314158;
  --slate-700: #1d293d;
  --slate-800: #0f172b;
  --slate-900: #020618;

  --primary-light: #ff2056;
  --primary: #ec003f;
  --primary-dark: #c70036;

  --link-color: #f10a47;
  --link-hover: #d0083d;

  --success: #00c951;
  --warning: #fdc700;
  --error: #e7000b;
  --info: #2b7fff;

  --text-over-primary: #0a0f1a;
  --text-over-primary-dark: #e6e9f0;
  --text-over-primary-light: #0a0f1a;
  --text-over-success: #0a0f1a;
  --text-over-warning: #0a0f1a;
  --text-over-error: #e6e9f0;
  --text-over-info: #0a0f1a;

  --text-default: #e6e9f0;
  --text-muted: #aab3cc;

  --disabled: #555f7d;
  --text-disabled: #aab3cc;
}
