:root {
  --slate-100: #e2e8f0;
  --slate-200: #cad5e2;
  --slate-300: #90a1b9;
  --slate-400: #62748e;
  --slate-500: #45556c;
  --slate-600: #314158;
  --slate-700: #1d293d;
  --slate-800: #0f172b;
  --slate-900: #020618;

  --primary-light: #ff2056;
  --primary: #ec003f;
  --primary-dark: #c70036;

  --link-color: #f10a47;
  --link-hover: #d0083d;

  --success: #00c951;
  --warning: #fdc700;
  --error: #e7000b;
  --info: #2b7fff;

  --text-over-primary: #020618;
  --text-over-primary-dark: #e2e8f0;
  --text-over-primary-light: #020618;
  --text-over-success: #020618;
  --text-over-warning: #020618;
  --text-over-error: #e2e8f0;
  --text-over-info: #020618;

  --text-default: #e2e8f0;
  --text-muted: #90a1b9;

  --disabled: #45556c;
  --text-disabled: #90a1b9;
}

:root[data-theme="light"] {
  --slate-100: #020618;
  --slate-200: #0f172b;
  --slate-300: #1d293d;
  --slate-400: #314158;
  --slate-500: #45556c;
  --slate-600: #62748e;
  --slate-700: #90a1b9;
  --slate-800: #cad5e2;
  --slate-900: #e2e8f0;

  --text-default: #020618;
  --text-muted: #1d293d;

  --link-color: #f10a47;
  --link-hover: #d0083d;
}
